/build_production
/build_local
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
.env
npm-debug.log
source/assets/vid/hero.mp4

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/
