name: deploy

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Composer dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    
    - name: Build site with Jigsaw
      run: ./vendor/bin/jigsaw build production

      with:
        personal_token: ${{ secrets.GH_TOKEN }}
        publish_dir: ./build_production
